body{
    padding: 20px;
    margin: 0;
    background-color: #ffffff;
}

.pantala{
    width: 100%;
}

.pantallaOperar{
    background: rgb(62, 68, 68, 0);
    color: rgb(255, 255, 255);
    padding: .7em;
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    text-align: left;
    border: none;
    outline: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
}


h3{
    color: rgb(255, 246, 250);
}
.calc{
    width:30%;
    background-color: #696969 ;
    display: block;
    margin: 0 auto;
    padding: 30px;
    width: 40%;
    height: 98%;
    border: 10px solid rgb(0, 0, 0);
    

}

.botonDiseño{
    
    background: transparent;
    border: 2px solid rgb(255, 98, 182);
    color: rgb(255, 246, 250);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.igualCalc{
    padding: 5px;
    color: rgb(255, 246, 250);
    background: transparent;
    border: 2px solid rgb(255, 98, 182);
    border-radius: 5px;
    width: 180px;
    height: 45px;
    margin: 20px;
    font-size: 25px;
   
}

.botonDel{
    padding: 5px;
    color: rgb(255, 246, 250);
    background: #ff1493;
    border: #ff1493;
    border-radius: 3px;
    width: 120px;
    height: 60px;
    margin: 3px;
    font-weight: bold;
    font-size: 20px;
}

.botonAC{
    padding: 5px;
    color: rgb(255, 246, 250);
    background: transparent;
    border: 2px solid rgb(255, 98, 182);
    border-radius: 5px;
    width: 90px;
    height: 50px;
    margin: 8px;
    font-weight: bold;
    font-size: 20px;
}

.advertencia{
    margin: 15px;
}

